{% extends 'base.html' %}
{% load static %} 
{% block content %}

<div class="lumise-hero">
    <div class="owl-carousel owl-theme">
        <div class="item" style="background:url('http://localhost/seasand/assets/images/hero2.jpg') no-repeat;background-size:cover;">
            <div class="container">
                <h1>New collecttion 2018</h1>
                <h4>Sale up to 50%  all product in the new collection</h4>
                <a href="http://localhost/seasand/products.php">View Collection</a>
            </div>
        </div>
        <div class="item" style="background:url('http://localhost/seasand/assets/images/hero1.jpg')no-repeat;background-size:cover;">
            <div class="container">
                <h1>SALE OFF! UP TO 70%</h1>
                <h4>Duis aute irure dolor in reprehenderit in voluptate velit</h4>
                <a href="http://localhost/seasand/products.php">View Collection</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="lumise-services">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="box-info">
                    <i class="bi bi-truck" aria-hidden="true"></i>
                    <div class="content">
                        <h4>Free Shipping</h4>
                        <p>On all order over $250</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box-info">
                    <i class="bi bi-arrow-repeat" aria-hidden="true"></i>
                    <div class="content">
                        <h4>Money Guarantee</h4>
                        <p>30 day money back</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box-info">
                    <i class="bi bi-credit-card" aria-hidden="true"></i>
                    <div class="content">
                        <h4>Payment Secured</h4>
                        <p>Secure all your payments</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box-info">
                    <i class="bi bi-chat-right" aria-hidden="true"></i>
                    <div class="content">
                        <h4>Power Support</h4>
                        <p>Online Support 24/7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<div class="lumise-list">
    <div class="container">
        <h2>Featured product</h2>
            <ul>
            <li>
        <a href="http://localhost/seasand/product.php?product_id=1">
            <figure><img src="https://demo.lumise.com/data/thumbnails/bag-thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
            <div class="content">
                <h3>Bag</h3>                        <span class="lumise-price">199.99$</span>                    </div>
        </a>
        <div class="lumise-action">
                                <a href="http://localhost/seasand/editor.php?product_base=1" class="lumise-custom">
                Customize	                </a>
        </div>
    </li>
            <li>
        <a href="http://localhost/seasand/product.php?product_id=2">
            <figure><img src="https://demo.lumise.com/data/thumbnails/shirt-thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
            <div class="content">
                <h3>Basic Tshirt</h3>                        <span class="lumise-price">99.99$</span>                    </div>
        </a>
        <div class="lumise-action">
                                <a href="http://localhost/seasand/editor.php?product_base=2" class="lumise-custom">
                Customize	                </a>
        </div>
    </li>
            <li>
        <a href="http://localhost/seasand/product.php?product_id=3">
            <figure><img src="https://demo.lumise.com/data/thumbnails/cup_thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
            <div class="content">
                <h3>Cup</h3>                        <span class="lumise-price">19.99$</span>                    </div>
        </a>
        <div class="lumise-action">
                                <a href="http://localhost/seasand/editor.php?product_base=3" class="lumise-custom">
                Customize	                </a>
        </div>
    </li>
            <li>
        <a href="http://localhost/seasand/product.php?product_id=4">
            <figure><img src="https://demo.lumise.com/data/thumbnails/hoodie_thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
            <div class="content">
                <h3>Hoodies Sweatshirt</h3>                        <span class="lumise-price">29.99$</span>                    </div>
        </a>
        <div class="lumise-action">
                                <a href="http://localhost/seasand/editor.php?product_base=4" class="lumise-custom">
                Customize	                </a>
        </div>
    </li>
            <li>
        <a href="http://localhost/seasand/product.php?product_id=5">
            <figure><img src="https://demo.lumise.com/data/thumbnails/phonecase_thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
            <div class="content">
                <h3>Phone Case</h3>                        <span class="lumise-price">19.99$</span>                    </div>
        </a>
        <div class="lumise-action">
                                <a href="http://localhost/seasand/editor.php?product_base=5" class="lumise-custom">
                Customize	                </a>
        </div>
    </li>
            <li>
        <a href="http://localhost/seasand/product.php?product_id=6">
            <figure><img src="https://demo.lumise.com/data/thumbnails/shirt-thumb2-thumbn.jpg" alt=""><div class="overlay"></div></figure>
            <div class="content">
                <h3>Basic Women Tshirt</h3>                        <span class="lumise-price">169.99$</span>                    </div>
        </a>
        <div class="lumise-action">
                                <a href="http://localhost/seasand/editor.php?product_base=6" class="lumise-custom">
                Customize	                </a>
        </div>
    </li>
            <li>
        <a href="http://localhost/seasand/product.php?product_id=9">
            <figure><img src="https://demo.lumise.com/data/thumbnails/hat-thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
            <div class="content">
                <h3>Hat</h3>                        <span class="lumise-price">68.00$</span>                    </div>
        </a>
        <div class="lumise-action">
                                <a href="http://localhost/seasand/editor.php?product_base=9" class="lumise-custom">
                Customize	                </a>
        </div>
    </li>
            <li>
        <a href="http://localhost/seasand/product.php?product_id=10">
            <figure><img src="https://demo.lumise.com/data/thumbnails/pillow-thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
            <div class="content">
                <h3>Pillow</h3>                        <span class="lumise-price">99.00$</span>                    </div>
        </a>
        <div class="lumise-action">
                                <a href="http://localhost/seasand/editor.php?product_base=10" class="lumise-custom">
                Customize	                </a>
        </div>
    </li>
    </ul>
        </div>
</div>

{%endblock%}